
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-family: 'Titillium Web', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
img{

    padding: 0;
    width: 100%;
}
/*Tamaño que tendra nuestra pagina para que no crezca*/

.contenido-max{
    max-width: 110rem;
    width: 90%;
    margin: 0 auto;
}

.contenido-dos{
    max-width: 80rem;
    width: 80%;
    margin: 0 auto;
}