
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Titillium+Web:wght@300&display=swap');

$fuente-principal: 'Hubballi', cursive;
$fuente-secundaria: 'Titillium Web', sans-serif;

    /*colores*/
$oscuro-intenso: #2E2E2E;
$oscuro-opaco: #615e5e;
$morado-oscuro: #4C0B5F;
$azul-oscuro: #0B0B61;
$blanco: rgb(231, 225, 225);

    /*Tamaños de letras*/
$small: 1.5rem;
$normal: 2rem;
$mediana: 4rem;
$grande: 6rem;
$extra-grande: 9rem;


