.blog{
    padding: 7rem 0;
    

    .ask{
        background-image: url(/build/img/imagenesProyectos/mountainColor.webp);
        width: 100%;
        height: 40rem;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;


        h2{
            font-size: $normal;
            z-index: 3;
            color: $blanco;
        }

        @include tablet{

            h2{
                font-size: $mediana;
            }
            
        }
    }

    .ask::before{
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.466);
    }
}