.footer-contact{
    background-color: $oscuro-intenso;
    padding: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .navegacion-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;

        a{
            margin-bottom: 2rem;
        }
    }
    @include tablet {
        .navegacion-footer{
            flex-direction: row;
        }
    }

    h2{
        text-align: center;
        color: $blanco;
        font-size: $normal;
    }
    h4{
        color: $blanco;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 3rem;
    }


    .contactos{
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin-top: 4rem;
       

        img{
            width: 5rem;
            border-radius: 50%;
        }
    }
}


