.footer-contact{
    background-color: $oscuro-intenso;
    padding: 3rem;


    .navegacion-footer{
        display: block;
        margin-top: 3rem;
    }

    h2{
        text-align: center;
        color: $blanco;
        font-size: $normal;
    }
    h4{
        color: $blanco;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 3rem;
    }


    .contactos{
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin-top: 4rem;

        img{
            width: 5rem;
        }
    }
}