

#habilidades{
    background-color:$blanco2;
    margin-top: 8rem;
    border-radius: .5rem;
    padding: 4rem;
    h2{
        text-align: center;
        font-size: $mediana;
        margin-top: 0;
        color: $oscuro-opaco;
    }

    .descripcion-habilidades{
        max-width: 60rem;
        margin: 0 auto;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
       

        div{
            background-color: $oscuro-opaco;
            border-radius: .5rem;
            padding: 2rem;
            
            .icons{
                display: flex;
                justify-content: center;
                align-items: center;
                

                img{
                    width: 5rem;
                }

            }


            h3{
                text-align: center;
                font-size: $normal;
                color: $blanco;
                margin-top: 0;
            }
            
        }


        
    }
    @include tablet{
        .descripcion-habilidades{
            grid-template-columns: repeat(3, 1fr);


            
        }
    }

    
}